{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1>All articles</h1>
{{ end }}

<ul class="article-list">
	{{- range .Data.Pages -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="post">
			<a href="{{ .RelPermalink }}">{{.Title}}</a> 
			<time class="article-time">
				{{ dateFormat "2006-01-02" .Date }}
				{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
			</time>
			
		</li>
		{{- end -}}
	{{- end -}}
</ul>
{{ end }}
