body {
  color: white;
  --backgroud: #202124;
  background-color: var(--backgroud);
  --blockquote-bg-color: var(--backgroud);
}

.draft-label {
  color: var(--primary-color);
  background-color: blue;
}

article {
  color: var(--dark-font-color);
}

article ul,
article ol {
  color: var(--dark-font-color);
}

.table-container th,
.table-container td {
  color: var(--dark-font-color);
  border: 1px solid var(--tertiary-color);
}


::selection {
  background: var(--primary-color);
  color: var(--backgroud);
}

hr {
  border-top: 3px dotted blue;
}

pre {
  background-color: #272822;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}


.site-description a {
  color: #ddd;
}
.site-description a:hover {
  color: black;
}

.header nav,
.footer {
  border-color: #333;
}